@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    background-color: black;
    color: aliceblue;
}

html{
    height: 100%;
}

.header-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 5 rem;
}

.container{
    width: 150px;
    height: 150px;
}

.imagen-h{
    padding: 10px;
    width: 100px;
    height:100px;
    object-fit: cover;
    text-align: left;
}

.text {
    padding: 4rem;
    display:grid;
    text-align: right;
    align-self: right right;
    font-size: 30px;
    margin: auto;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
}

label {
    display: flex;
    font: 1rem 'Hind Madurai', sans-serif;
    color: #4EBFBF;
    text-align: left;
    justify-content: center;
    align-self: center;
}

input {
    margin: 0.4 rem 0;
    border-radius: 1em;
    border-color: #4EBFBF;
    text-align: center;
    justify-content: center;
    align-self: center;
}