@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
}

/* html{
    height: 100%;
} */
body{
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
}


header{
    display: flex;
    min-height: 70px;
    background-color:#4EBFBF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img1{
    height: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: aliceblue;

@media (max-width:700){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

}

/* 
.header-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 5 rem;
}

.container{
    width: 150px;
    height: 150px;
}

.imagen-h{
    padding: 10px;
    width: 100px;
    height:100px;
    object-fit: cover;
    text-align: left;
}

.text {
    padding: 4rem;
    display:grid;
    text-align: right;
    align-self: right right;
    font-size: 30px;
    margin: auto;
    color: #4EBFBF;
    font-family: 'Hind Madurai', sans-serif;
} */

/*Iniciamos con estilo del CRUD*/

form {
    display: flex;
    flex-wrap: wrap;
}


label {
    display: flex;
    font: 1rem 'Hind Madurai', sans-serif;
    color: #4EBFBF;
    text-align: left;
    justify-content: center;
    align-self: center;
}

input {
    margin: 0.4 rem 0;
    border-radius: 1em;
    border-color: #4EBFBF;
    text-align: center;
    justify-content: center;
    align-self: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* stilo para tabla*/

form{
    text-align: center;
}
.tablas{
    display: inline-block;    
}
/*Tablaaaaaa Estilos*/
.tabla{
border-collapse: collapse; /*Esta propiedad hace que parezca mas una tabla*/
font-family: 'Quicksand', sans-serif;
}
table tr th{
    border: 1px solid #D5D9D9;
    width: 100px;
    height: 25px;
    color: white;
    background-color: #00438D;
}







/* Diseñando el footer */

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #4EBFBF;
    color: #223D40;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #223D40;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #223D40;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
    /* same as flex-grow: 1; */
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem
        /*200px*/
    ;
}
form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: #4EBFBF;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color:black;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}


.ft-legal-list li:nth-last-child(2) {
    flex: 1;

}

.logoimg-wrapper {
    text-align: center;
}

.logo-img {
    height: 4rem;
    object-fit: cover;
    text-align: center;
}


.condiciones-wrapper {
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
}