@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Madurai', sans-serif;
    background-color: black;
    color: aliceblue;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 5 rem;
    width: 100%;
    height: 100%;
}

.imagen-h{
    padding: 10px;
    width:100%;
    height:100%;
    object-fit: cover;
    text-align: left;

}
